[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
fetch = 'python fetch.py'

[packages]
requests = "*"
pandas = "*"
argparse = "*"

[dev-packages]

[requires]
python_version = "3.9"
